@model Serrate.Shipping.UI.Models.ShippingAddress

<div>
    <div>     
        Name: <span><b>@Html.DisplayFor(m => m.Fullname)</b></span><br />
        Address: <span><b>@Html.DisplayFor(m => m.Address)</b></span><br />
        City: <span><b>@Html.DisplayFor(m => m.City)</b></span><br /><br />
        <button id="btn1">Change your shipping address</button><br /><br />
    </div>
</div>